.app-presentation {
  color: $basic-white;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {

  }
}

.app-presentation__wrapper {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.app-presentation__column-left {

}

.app-presentation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
  }
}

.app-presentation__intro-wrapper {

}

.app-presentation__intro {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 358px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.app-presentation__download-button {
  display: inline-block;
  min-width: 280px;
  padding: 17px 36px;
  color: $basic-white;
  text-decoration: none;
  line-height: 24px;
  font-weight: 700;
  border: 3px solid $basic-white;
  border-radius: 50px;
}

.app-presentation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-presentation__item:not(:last-child) {
  margin-right: 35px;
}

.app-presentation__link {
  display: block;
  background-image: url(https://via.placeholder.com/47x56);
  background-repeat: no-repeat;
  background-position: cover;

    &--ios  {
      width: 47px;
      height: 56px;
      background-image: url(https://via.placeholder.com/47x56);
    }

    &--android  {
      width: 43px;
      height: 47px;
      background-image: url(https://via.placeholder.com/43x47);
    }

    &--windows {
      width: 44px;
      height: 41px;
      background-image: url(https://via.placeholder.com/44x41);
    }
}

.app-presentation__text {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
