.contacts {

}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {

}

.contacts__subtitle {
  margin: 0;
  line-height: 25px;
}

.contacts__description {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $pink;
}
