.feedback {
  position: relative;
}

.feedback__container {
  // width: 280px;
  padding: 0 20px;
  // margin: auto;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding: 0 10px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0 10px;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__item {
  position: relative;

  &--feedback-icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: calc(50% - 40px);
    width: 79px;
    height: 63px;
    background-image:url(https://via.placeholder.com/79x63);
    background-repeat: no-repeat;
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.feedback__author-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // min-width: 280px;
  // align-items: stretch;
  justify-content: space-between;
  // width: 100%;
  margin: 0;
}

.feedback__author-position {

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.feedback__author {
  display: block;
  padding-bottom: 30px;
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.feedback__author-info {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 18px;
  }
}

.feedback__text {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 44px;
  // text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 51px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 121px;
    width: 688px;
    font-size: 18px;
  }
}

.feddback__toggles {
  margin: 0;
  justify-content: center;
}
