.main-nav {
  // position: relative;
  line-height: 32px;
  font-weight: 700;
  min-height: 66px;
  background-color: $dark-blue;

  // background-color: transparent;

  @media (min-width: 960px) {
    background-color: transparent;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 70px;
  height: 44px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: 960px) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 10px 0 0 fade(#ffffff, 30%),
    0 20px 0 0 fade(#ffffff, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 15px;
  right: 10px;
  // left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 20px;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__list {
  margin-top: 66px;
  margin: 0;
  padding: 0;
  list-style: none;
  // text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    box-shadow: none;

    &:not(:last-child) {
      margin-right: 78px;
    }
  }
}

.main-nav__link {
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  transition: 0.3s;

  &:hover {
    color: $pink;
  }

  &:focus {
    color: $basic-white;
    opacity: 0.3;
  }

}
