.modal-action-map {
  width: 100%;
  height: auto;
  min-height: 200px;
  border: none;

  @media (min-width: $tablet-width) {
    min-height: 374px;
  }

  @media (min-width: $desktop-width) {
    min-height: 502px;
  }
}
