
.page-main__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
}

.page-main__text {
  font-size: 14px;
  line-height: 30px;
}

.page-main__app-presentation {
  padding-top: 29px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
    padding-bottom: 130px;
  }
}

.page-main__advantages {
  padding-top: 46px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.page-main__research {

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 99px;
    padding-bottom: 120px;
  }
}

.page-main__feedback {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 109px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 41px;
  }
}

.page-main__tariffs {
  padding-top: 81px;

  @media (min-width: $tablet-width) {
    padding-top: 114px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 159px;
  }
}

.page-main__contacts {
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}
