.page-footer {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 75px;
  }
}

.page-footer__container {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // width: 280px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 640px;
    padding: 0 20px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    padding: 0 10px;
    margin: auto;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

