.photo-editor {

}

.photo-editor__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: $lighten-grey;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding: 57px 60px 057px 80px;
  }
}

.photo-editor__container {
  // margin: 0 auto;
  // margin-bottom: 52px;
  // width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo-editor__form {

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: auto;
  }
}

.photo-editor__settings {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// .photo-editor__settings-container {

//   @media (min-width: $tablet-width) {
//     display: flex;
//   }
// }

.photo-editor__text-intro {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.photo-editor__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: $lighten-grey;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.photo-editor__added-photo {
  margin-bottom: 42px;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 300px;
    height: 400px;
  }
}

.photo-editor__list {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 75px;
  list-style: none;
  border-bottom: 1px solid $light-grey-4;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    flex-direction: column;
    border-bottom: none;
  }
}

.photo-editor__item {
  position: relative;
  margin-right: 35px;
  opacity: 0.3;
  // background-color: red;
  // border-bottom: 1px solid red;

  &:last-child {
    margin-right: 0;
  }


  &--current {
    opacity: 1;
  }

  &--current .photo-editor__range-controls{
    display: block;
  }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   width: 320px;
  //   height: 1px;
  //   background-color: red;
  // }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 275px;
    border-bottom: 1px solid $light-grey-4;
    opacity: 1;

    &:first-child {
      padding-top: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }
}

.photo-editor__visual-setting {
  // position: absolute;
  // content: "";
  border: none;
  background-color: transparent;
  // background-repeat: no-repeat;
  // background-position: center;
  cursor: pointer;

  &--cropping-icon {
    // top: 0;
    // left: 37px;
    width: 44px;
    height: 44px;
    background-image: url(https://via.placeholder.com/44x44);
  }

  &--color-filling-icon {
    // top: 0;
    // left: 116px;
    width: 48px;
    height: 43px;
    background-image: url(https://via.placeholder.com/48x43);
  }

  &--color-picking-icon {
    // top: 0;
    // left: 199px;
    width: 32px;
    height: 32px;
    background-image: url(https://via.placeholder.com/32x32);
  }

  @media (min-width: $tablet-width) {

    &--cropping-icon {
      width: 22px;
      height: 22px;
      background-image: url(https://via.placeholder.com/22x22);
    }

    &--color-filling-icon {
      width: 24px;
      height: 22px;
      background-image: url(https://via.placeholder.com/24x22);
    }

    &--color-picking-icon {
      width: 16px;
      height: 16px;
      background-image: url(https://via.placeholder.com/16x16);
    }
  }

  @media (min-width: $desktop-width) {

    &--cropping-icon {
      width: 44px;
      height: 44px;
      background-image: url(https://via.placeholder.com/44x44);
    }

    &--color-filling-icon {
      width: 48px;
      height: 43px;
      background-image: url(https://via.placeholder.com/48x43);
    }

    &--color-picking-icon {
      width: 32px;
      height: 32px;
      background-image: url(https://via.placeholder.com/32x32);
    }
  }
}

.photo-editor__range-controls {
  display: none;
  position: absolute;
  content: "";
  top: 83px;
  left: -25px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    height: 2px;
    top: auto;
    left: auto;
    padding-right: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
  }
}

.photo-editor__range-controls--current {
  display: block;
}

.photo-editor__range-scale {
  width: 240px;
  height: 2px;
  background-color: $dark-blue;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.photo-editor__range-toggle {
  position: absolute;
  content: "";
  top: -6px;
  left: 193px;
  width: 14px;
  height: 14px;
  background-color: $basic-white;
  border: 2px solid $pink;
  border-radius: 50%;
}

.photo-editor__buttons_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

}

.photo-editor__button {
  display: block;
  padding: 21px 0;
  min-width: 280px;
  line-height: 18px;
  font-weight: 700;
  color: $pink;
  text-align: center;
  vertical-align: middle;
  border: 3px solid $pink;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;

  &--submit {
    margin-bottom: 12px;
  }

  &--cancel:disabled {
    color: rgba($dark-blue, 0.1%);
    border: 3px solid $light-grey-4;
    cursor: default;
  }

  @media (min-width: $desktop-width) {
    min-width: 183px;
    text-transform: uppercase;

    &--submit {
      margin-bottom: 0;
    }
  }
}
