.research {

  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background-color: $lighten-grey;
  }
}

.research__container {
  width: 280px;
  padding: 0 20px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding: 0 10px;
    display: flex;
   justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 923px;
    padding: 0 10px;
  }
}

.research__wrapper {

  // padding-left: 310px;
  position: relative;


  @media (min-width: $tablet-width) {
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    width: 534px;
    margin-right: 35px;
  }
}

.research__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: $basic-black;

  &--clock::before {
    position: absolute;
    content: "";
    // top: -54px;
    bottom: -29px;
    left: -310px;
    width: 238px;
    height: 276px;
    background-image: url(https://via.placeholder.com/238x276);
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;

    &--clock::before {
      position: absolute;
      content: "";
      // top: -54px;
      bottom: -53px;
      left: -369px;
      width: 298px;
      height: 345px;
      background-image: url(https://via.placeholder.com/298x345);
      opacity: 0.5;
    }
  }


}


.research__break {

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.research__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  font-size: 14px;
  color: $pink;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
