.user-achievements {
  margin-bottom: 42px;
  background-color: $lighten-grey;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 65px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
  }
}

// .user-achievements__position {
//   // margin: 0 auto;
//   @media (min-width: $tablet-width) {
//     order: 3;

//   }
// }

.user-achievements__fieldset {
  margin: 0;
  padding: 0;
  width: 280px;
  margin: 0 auto;

  &--off-frame {
    border: none;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    border: 2px solid $light-grey-3;
  }

  @media (min-width: $desktop-width) {
    padding: 65px;
    width: 940px;
  }
}

.user-achievements__title {
  padding-top: 42px;
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;

  &--break {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 0 31px;
    display: inline-block;

    &--break {
      display: inline;
    }
  }

}

.user-achievements__list {
  margin: 0;
  padding: 0;
  padding: 42px 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 62px 0 62px 62px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
}

.user-achievements__item {
  margin-bottom: 70px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    &--shark {
      order: 1;
      margin-right: 60px;
      margin-bottom: 65px;
    }

    &--sunburned {
      order: 4;
      margin-right: 96px;
    }

    &--norris {
      order: 2;
      margin-right: 60px;
    }

    &--souvenir {
      order: 5;
      margin-right: 70px;
    }

    &--tower {
      order: 3;
    }

    &--hotel {
      order: 6;
    }

    &--hotel .user-achievements__subtitle {
      padding-left: 55px;
    }
  }
}

.user-achievements__subtitle {
  position: relative;
  padding-left: 61px;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
}

.user-achievements__checkbox + .user-achievements__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 39px;
  height: 39px;
  border: 2px solid $light-grey-3;
  background-color: $basic-white;
  border-radius: 2px;

}

.user-achievements__checkbox--selected:checked + .user-achievements__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 39px;
  height: 39px;
  background-image:url(https://via.placeholder.com/22x16);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid $light-grey-3;
  border-radius: 2px;
}

