$basic-white: #ffffff;
$basic-black: #000000;
$dark-blue: #283645;
$dark-grey: #1d2631;
$lighten-grey: #f2f2f2;
$lighten-grey-2: #e9ebec;
$lighten-grey-3: #dedede;
$light-grey: #bfc3c7;
$light-grey-2: #b5babe;
$light-grey-3: #e5e5e5;
$pink: #d22856;
$green: #3dc644;
$dark-green: #2aab6d;
$darkest-green: #1c9b5e;
$orange: #f25b26;
$shadow: rgba(0, 1, 1, 0.15);
